dist/
js/dist
js/dist/
node_modules/
js/node_modules
*.DS_STORE
.DS_STORE
__pycache__
*.pyc
*.pem
*.crt


node_modules

.cache
.env
.vercel
.output
build/
*.egg-info/

/build/
/public/build
/api/index.js

js/coverage
run-query-example.py
examples/python/scratch/*
.Rproj.user
