dist/
js/dist
js/dist/
node_modules/
js/node_modules
*.DS_STORE
.DS_STORE
__pycache__
*.pyc
*.pem
*.crt
*.idea

node_modules

.cache
.env
.vercel
.output
build/
*.egg-info/

/build/
/public/build
/api/index.js

js/coverage
run-query-example.py
examples/python/scratch/*
.Rproj.user
r/shroomDK_0.1.0.tar.gz
python-sdk-example.py
r/shroomDK/api_key.txt
r/shroomDK/test_of_page2_issue.R
