@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Simplon Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/SimplonMono-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Cartridge";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Cartridge-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Cartridge";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../public/fonts/Cartridge-Bold.woff2) format("woff2");
}